<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header_contents">
                <span class="material-symbols-outlined header_icon">search</span>
                <span class="material-symbols-outlined header_icon">language</span>
            </div>
        </header>

        <div class="main_content">
            <div class="top_content">
                <div class="left_content">
                    aa
                </div>
                <div class="right_content">
                    bb
                </div>
            </div>
        </div>
    </div>
</body>
</html>