<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header_contents">
                <span class="material-symbols-outlined header_icon home_icon">home</span>
                <h2 class="text">제품 상세</h2>
                <div class="right_icon">
                    <span class="material-symbols-outlined header_icon">search</span>
                    <span class="material-symbols-outlined header_icon">language</span>
                </div>
            </div>
        </header>

        <div class="main_content">
            <div class="top_content">
                <div class="left_content">
                    aa
                </div>
                <div class="right_content">
                    bb
                </div>
            </div>
            <div class="imageslider" style="max-width:500px">
                <img class="shopimg" src="https://t1.kakaocdn.net/friends/prod/product/20200707161516226_8800000026251_AW_01.jpg" style="width:100%">
                <img class="shopimg" src="https://t1.kakaocdn.net/friends/prod/product/20200707161516077_8800000026251_AW_00.jpg" style="width:100%">
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>