.container {
  position: absolute;
  margin: auto;
  height: 100vh;
  width: 620px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid red;
}

a {
  text-decoration: none;
  color: black;
}

#header_icon {
  line-height: 46px;
  vertical-align: middle;
  margin-right: 5px;
}

.text {
  display: flex;
  text-align: center;
}

.right_icon {
  display: flex;
}
.home_icon {
  display: flex;
}

.header {
  border-bottom: 1px solid gray;
}

.header_contents {
  display: flex;
  justify-content: space-between;
  height: 46px;
  /*border-bottom: 1px solid blue;*/
  margin: 0 15px 0 15px;
}

.main_content {
  border: 1px solid blueviolet;
  margin-top: 10px;
}

.imageslider {
  margin: 0 auto;
}

.top_content {
  display: flex;
}

.left_content {
  width: 90%;
  border: 1px solid orange;
}

.right_content {
  width: 10%;
  border: 1px solid green;
}

.bottom_content {
  border: 1px solid yellow;
  position: fixed;
  bottom: 0;
}

.buy_btn {
  width: 620px;
  height: 52px;
  border: 0;
  color: white;
  background-color: red;
}


/* Dropdown Button */

.dropbtn,
.dropbtn1 {
    width: 620px;
    background-color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .text{
    color: black;
  }
  

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}


  .dropItem{
    width: 620px;
    background-color: blue;
  }